
body {
    background-color: #faf8ef;
}
#grid {
    background-color: hsl(28, 7%, 54%);
    border-radius: 5px;
    padding-top: 0px;
    border: 2px solid hsl(28, 7%, 54%);
   


}

.grid-row {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: center;
}


.grid-data{
    width: 3em;
    height:3em;
    background-color: #cec1b4;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid hsl(28, 7%, 54%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#game-board {
margin-top: 50px auto;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;
}

#head-grid {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 350px;
    
}
#head-grid  h1{
   color: hsl(28, 9%, 39%);
   font-size: 40px;
}
   


#img-replay {
    width: 35px;
    height: 35px;
    background-color: #8f7a65;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

#score-replay {
    display: flex;
    align-items: center;

}
#score {
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
}

#digital-score {
    font-weight:bold ;
    color: #ffffff;
    margin: 5px;
}

#p-score {
    font-weight:bold ;
    font-size: 20px;
    color: #eee4da;
    margin: 5px;
}


#score-replay div{
    background-color: #bbada0;
}



